<h4 class="ui dividing header">{{ 'sylius.ui.new_customers'|trans }}</h4>
<a href="{{ path('app_frontend_register') }}" class="ui big green labeled icon fluid button">
    <i class="signup icon"></i>
    {{ 'sylius.ui.create_an_account'|trans }}
</a>

<br>
<form action="{{ path('sylius_frontend_oauth_discord_start') }}" method="post">
    <input type="hidden" name='token' value="{{ csrf_token('discord-auth') }}">
    <button class="ui big grey labeled icon fluid button" type="submit">
        <i class="discord icon"></i>
        {{ 'sylius.ui.login_with_discord'|trans }}
    </button>
</form>

